body {
    font-size: 16px;
    color: #ffff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}


#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    height: 70px;
}

.navbar h1 {
    font-family: 'lora', sans-serif;
    color: #557c3e;
    text-decoration: none;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
} 

a {
    text-decoration: none;
    font-family: 'lora', sans-serif;
}

#p {
    background-color:grey;
    color: black;
    margin-top: 80px;
}